@model DGHCM.Models.DocumentTypeMaster
@{
    ViewBag.Title = "DocumentTypeCreate";
}
<script src="~/Scripts/bootstrap.bundle.js"></script>

<style>
    body {
        background-image: url('../../content/images/office image.png');
        background-size: cover;
    }

    .card {
        background: #fff5;
        backdrop-filter: blur(3px);
    }

    .card-header {
        background: #ffffffa1;
    }

    .card-body {
        background: #fffb;
    }

    thead th {
        background: #d5d1defe;
    }
</style>

<div class="container-fluid">
    <div class="card">
        <div class="card-header  text-black d-flex flex-wrap justify-content-between align-items-center">

            <div class="card-title text-black mb-0 p-0">Document Type Details</div>
            <div>
                <a href="#" class="btn btn-transparent" data-toggle="modal"><i class="fa-solid fa-floppy-disk"></i><span>&nbsp;Save</span></a>
                <a href="~/Employee/DocumentTypeIndex" class="btn btn-transparent" data-toggle="modal"><i class="fa-solid fa-circle-arrow-left"></i> <span> Back</span></a>
            </div>
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate name="dtcreate" @*onsubmit="return validate()"*@ method="post">
                <div id="DocumentTypeSections">
                    <div class="col-md-4 mb-3">
                        <label for="Document Type">Document Type</label>
                        <input type="text" class="form-control" id="DType" name="DocumentTypeName" placeholder="enter name" required>
                    </div>
                    <div class="form-check form-switch col-md-4 mb-3">
                        <input class="form-check-input" type="checkbox" id="active" name="IsActive">
                        <label class="form-check-label" for="flexSwitchCheckDefault">IsActive</label>
                    </div>
                </div>
                <div>
                    <button class="btn btn-transparent" type="submit" value="SaveAndSubmit" name="action">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function validate() {
        let name = document.forms["dtcreate"]["DocumentTypeName"].value;
        if (name == "")
            alert("Please enter the name");
        return false;
</script>




