@model List<DGHCM.Models.DocumentTypeMaster>
@{
    ViewBag.Title = "DocumentTypeIndex";
}
<!DOCTYPE html>
<style>
    body {
        background-image: url('../../content/images/office image.png');
        background-size: cover;
    }

    .card {
        background: #fff5;
        backdrop-filter: blur(3px);
        border-radius: 20px;
    }

    .card-header {
        background: #ffffffa1;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
    }



    .card-body {
        background: #fffb;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
    }

    thead th {
        background: #d5d1defe;
    }
</style>
<div class="container-fluid">
    <div class="card">
        <div class="card-header  text-black d-flex flex-wrap justify-content-between align-items-center">

            <div class="card-title text-black mb-0 p-0">Document Type Details</div>
            <div>
                <a href="~/Employee/DocumentTypeCreate" class="btn btn-transparent" data-toggle="modal"><i class="fa-solid fa-file-circle-plus"></i><span>&nbsp;Upload Document</span></a>
                @*<a href="#deleteEmployeeModal" class="btn btn-transparent" data-toggle="modal"><i class="fa-solid fa-circle-arrow-left"></i> <span> Back</span></a>*@
            </div>
        </div>
        <div class="card-body ">
            <form class="main" name="Display">

                @{ int i = 1;}
                @if (Model != null && Model.Count > 0)
                {
                    <table class="table table-bordered table-striped table-hover mt-2">
                        <thead class="bg-secondary-light">
                            <tr align="center">
                                <th scope="col">S.No</th>
                                <th scope="col">Document Name</th>
                                <th scope="col">Status</th>
                                <th colspan=2>Action</th>
                            </tr>
                        </thead>

                        @foreach (var dr in Model)
                        {
                            <tbody>
                                <tr>
                                    <td class="text-center">@i</td>
                                    <td>@dr.DocumentName</td>
                                    <td class="text-center">
                                        @if (dr.IsActive == true)
                                        {
                                            <span class="badge rounded-pill bg-success">Active</span>}
                                        else
                                        {<span class="badge rounded-pill bg-danger">Inactive</span>}

                                    </td>
                                    <td class="text-center">
                                        <div class="d-grid gap-2 d-md-block">
                                            <a href="~/Employee/DocumentTypeUpdate?id=@dr.DocumentTypeId"><i class="fa fa-edit"></i></a>
                                            <a href="#"onclick="ConfirmDelete(@dr.DocumentTypeId)"><i class="fa fa-trash text-danger"></i></a>

                                        </div>

                                    </td>
                                </tr>
                                @{ i = i + 1;}
                            </tbody>
                        }
                    </table>

                }
                else
                {
                    <span> No records found!!</span>
                }

            </form>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="myModal1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-between align-items-center">

                <h5 class="modal-title">Delete Document Type</h5>
                <a href="~/Employee/DocumentDetailsIndex" class="close pull-right" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body text-center">
                <h4>You Should'nt Delete This</h4>
                <p>This DocumentType is used</p>
                <div style="text-align:center;display:none" id="loaderDiv" ;></div>
            </div>
            <div class="modal-footer">
                <a href="~/Employee/DocumentTypeIndex" class="btn btn-danger" data-dismiss="modal">Cancel</a>
               @* <a href="~/Employee/DocumentTypeIndex" class="btn btn-success" onclick="DeleteDocumentType()">Confirm</a>*@
            </div>
        </div>
    </div>
    <input type="hidden" id="hiddenDocumentTypeId" />
</div>

<script>
    var ConfirmDelete = function (DocumentTypeId) {
        $("#hiddenDocumentTypeId").val(DocumentTypeId);
        $("#myModal1").modal("show");
    }
    function DeleteDocumentType() {
        $("#loaderDiv").show();
        var docTyId = $("#hiddenDocumentTypeId").val();
        $.ajax({
            type: "POST",
            data: JSON.stringify({ DocumentTypeId: docTyId }),
            url: "DocumentTypeDelete",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#loaderDiv").hide();
                $("#myModal1").modal("hide");
                $("#row_" + docTyId).remove();
                window.location.reload();
            }
        })
    }

</script>


