@{
    ViewBag.Title = "SupplyCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">

    <div class="card-body">
        <form action="/Finance/SupplyCreate" method="post">

            <div class="col-md-4 mb-3">
                <label for="SupplyCode">Supply Code</label>
                <input type="text" id="SupplyCode" name="SupplyCode" class="form-control" />
            </div>

            <div class="col-md-4 mb-3">
                <label for="SupplyName">Supply Name</label>
                <input type="text" id="SupplyName" name="SupplyName" class="form-control" />
            </div>

            <div class="col-md-4 mb-3">
                <input class="form-check-input" type="checkbox" name="IsActive" id="invalidCheck">
                <label for="IsActive">IsActive</label>
            </div>

            <button type="submit" name="action" value="save-and-continue" class="btn btn-success">Save</button>
        </form>

    </div>
</div>
